# Normalization

In [2]:
import psycopg2

In [39]:
try:
    conn = psycopg2.connect("dbname=udacity user=postgres password=123")
except psycopg2.Error as e:
    print("Error: Could not make connection to the Postgres database")
    print(e)

try:
    cur=conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get cursor to the dataase")
    print(e)

conn.set_session(autocommit=True)

In [6]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS music_library(album_id int,album_name varchar, artist_name varchar, year int, songs text[]);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
#Inserting Rows
try:
    cur.execute("INSERT INTO music_library(album_id, album_name,artist_name,year,songs)\
                VALUES (%s, %s, %s, %s, %s)",\
               (1,"Rubber Soul", "The Beattles",1965,["Michelle","Think For Yourself","In My Life"]))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)


try:
    cur.execute("INSERT INTO music_library(album_id, album_name,artist_name,year,songs)\
                VALUES (%s, %s, %s, %s, %s)",\
               (2,"Let It Be", "The Beattles",1970,["Let It Be","Across The Universe"]))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)

    
try:
    cur.execute("SELECT * FROM music_library;")
except psycopg2.Error as e:
    print("Error: Select *")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beattles', 1965, ['Michelle', 'Think For Yourself', 'In My Life'])
(2, 'Let It Be', 'The Beattles', 1970, ['Let It Be', 'Across The Universe'])

## 1st Normal Form (1NF)

In [7]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS music_library2(album_id int,album_name varchar, artist_name varchar, year int, song_name varchar);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
#Inserting Rows
try:
    cur.execute("INSERT INTO music_library2(album_id, album_name,artist_name,year,song_name)\
                VALUES (%s, %s, %s, %s, %s)",\
               (1,"Rubber Soul", "The Beattles",1965,"Michelle"))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)

try:
    cur.execute("INSERT INTO music_library2(album_id, album_name,artist_name,year,song_name)\
                VALUES (%s, %s, %s, %s, %s)",\
               (1,"Rubber Soul", "The Beattles",1965,"Think For Yourself"))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)

try:
    cur.execute("INSERT INTO music_library2(album_id, album_name,artist_name,year,song_name)\
                VALUES (%s, %s, %s, %s, %s)",\
               (1,"Rubber Soul", "The Beattles",1965,"In My Life"))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)


try:
    cur.execute("INSERT INTO music_library2(album_id, album_name,artist_name,year,song_name)\
                VALUES (%s, %s, %s, %s, %s)",\
               (2,"Let It Be", "The Beattles",1970,"Let It Be"))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)

try:
    cur.execute("INSERT INTO music_library2(album_id, album_name,artist_name,year,song_name)\
                VALUES (%s, %s, %s, %s, %s)",\
               (2,"Let It Be", "The Beattles",1970,"Across The Universe"))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)

    
try:
    cur.execute("SELECT * FROM music_library2;")
except psycopg2.Error as e:
    print("Error: Select *")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beattles', 1965, 'Michelle')
(1, 'Rubber Soul', 'The Beattles', 1965, 'Think For Yourself')
(1, 'Rubber Soul', 'The Beattles', 1965, 'In My Life')
(2, 'Let It Be', 'The Beattles', 1970, 'Let It Be')
(2, 'Let It Be', 'The Beattles', 1970, 'Across The Universe')

## 2nd Normal Form 2NF

In [12]:
# cur.execute("DROP TABLE album_library")

In [14]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_library(album_id int,album_name varchar, artist_name varchar, year int);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
#Inserting Rows
try:
    cur.execute("INSERT INTO album_library(album_id, album_name,artist_name,year)\
                VALUES (%s, %s, %s, %s)",\
               (1,"Rubber Soul", "The Beattles",1965))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)

try:
    cur.execute("INSERT INTO album_library(album_id, album_name,artist_name,year)\
                VALUES (%s, %s, %s, %s)",\
               (2,"Let It Be", "The Beattles",1970))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)

In [15]:
try:
    cur.execute("SELECT * FROM album_library;")
except psycopg2.Error as e:
    print("Error: Select *")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beattles', 1965)
(2, 'Let It Be', 'The Beattles', 1970)

In [32]:
cur.execute("DROP TABLE song_library")

In [33]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_library(song_id int, album_id int, song_name varchar);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
#Inserting Rows
try:
    cur.execute("INSERT INTO song_library(song_id, album_id, song_name)\
                VALUES (%s, %s, %s)",\
               (1,1,"Michelle"))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)
    
try:
    cur.execute("INSERT INTO song_library(song_id, album_id, song_name)\
                VALUES (%s, %s, %s)",\
               (2,1,"Think For Yourself"))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)

try:
    cur.execute("INSERT INTO song_library(song_id, album_id, song_name)\
                VALUES (%s, %s, %s)",\
               (3,2,"In My Life"))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)

try:
    cur.execute("INSERT INTO song_library(song_id, album_id, song_name)\
                VALUES (%s, %s, %s)",\
               (4,2,"Let It Be"))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)

try:
    cur.execute("INSERT INTO song_library(song_id, album_id, song_name)\
                VALUES (%s, %s, %s)",\
               (5,2,"Across the Universe"))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)

In [34]:
print("\nTable: song_library\n")
try:
    cur.execute("SELECT * FROM song_library;")
except psycopg2.Error as e:
    print("Error: Select *")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

Table: song_library

(1, 1, 'Michelle')
(2, 1, 'Think For Yourself')
(3, 2, 'In My Life')
(4, 2, 'Let It Be')
(5, 2, 'Across the Universe')

In [17]:
# JOIN
try:
    cur.execute("SELECT * FROM album_library \
                 JOIN song_library \
                 ON album_library.album_id = song_library.album_id;")
except psycopg2.Error as e:
    print("Error: select *")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beattles', 1965, 1, 1, 'Michelle')
(1, 'Rubber Soul', 'The Beattles', 1965, 3, 1, 'In My Life')
(2, 'Let It Be', 'The Beattles', 1970, 2, 2, 'Think For Yourself')
(2, 'Let It Be', 'The Beattles', 1970, 4, 2, 'Let It Be')

## 3rd Normal Form (3NF)

**Create Table album_library**

In [19]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_library2(album_id int,album_name varchar, artist_id int, year int);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
#Inserting Rows
try:
    cur.execute("INSERT INTO album_library2(album_id, album_name,artist_id,year)\
                VALUES (%s, %s, %s, %s)",\
               (1,"Rubber Soul",1,1965))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)

try:
    cur.execute("INSERT INTO album_library2(album_id, album_name,artist_id,year)\
                VALUES (%s, %s, %s, %s)",\
               (2,"Let It Be",1,1970))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)

In [23]:
try:
    cur.execute("SELECT * FROM album_library2")
except psycopg2.Error as e:
    print(e)

In [24]:
print("\nTable: album_library2")
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

Table: album_library2
(1, 'Rubber Soul', 1, 1965)
(2, 'Let It Be', 1, 1970)

**Create TABLE artist_library**

In [26]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS artist_library(artist_id int, artist_name varchar);")
except psycopg2.Error as e:
    print("Error creating Table")
    print(e)

In [27]:
try:
    cur.execute("INSERT INTO artist_library(artist_id, artist_name)\
                VALUES(%s,%s)",\
                (1,"The Beatles"))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)

In [30]:
try:
    cur.execute("SELECT * FROM artist_library")
except psycopg2.Error as e:
    print(e)

print("\nTable: artist_library")
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

Table: artist_library
(1, 'The Beatles')

In [35]:
try:
    cur.execute("SELECT * \
                FROM (artist_library \
                JOIN album_library2 \
                ON artist_library.artist_id = album_library2.artist_id) \
                JOIN song_library ON album_library2.album_id = song_library.album_id;")
except psycopg2.Error as e:
    print("Error: select*")
    print(e)
    
print("\nTable")
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

Table
(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 1, 1, 'Michelle')
(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 2, 1, 'Think For Yourself')
(1, 'The Beatles', 2, 'Let It Be', 1, 1970, 3, 2, 'In My Life')
(1, 'The Beatles', 2, 'Let It Be', 1, 1970, 4, 2, 'Let It Be')
(1, 'The Beatles', 2, 'Let It Be', 1, 1970, 5, 2, 'Across the Universe')

In [36]:
try:
    cur.execute("DROP TABLE song_library")
except psycopg2.Error as e:
    print(e)

try:
    cur.execute("DROP TABLE album_library")
except psycopg2.Error as e:
    print(e)
    
try:
    cur.execute("DROP TABLE artist_library")
except psycopg2.Error as e:
    print(e)
    
try:
    cur.execute("DROP TABLE album_library2")
except psycopg2.Error as e:
    print(e)
    
try:
    cur.execute("DROP TABLE music_library")
except psycopg2.Error as e:
    print(e)
    
try:
    cur.execute("DROP TABLE music_library2")
except psycopg2.Error as e:
    print(e)

In [37]:
cur.close()
conn.close()

# Denormalization:

JOINS on the database allow for outstanding flexibility but are extremely slow. If you are dealing with heavy reads on your database, you may want to think about denormalizing your tables. You get your data into normalized form, and then you proceed with denormalization. So, denormalization comes after normalization.

# Creating Fact and Dimension Tables with Star Schema

**Create FACT Table**

In [40]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS customer_transaction(customer_id int, store_id int, spent numeric);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

try:
    cur.execute("INSERT INTO customer_transaction(customer_id,store_id,spent)\
                VALUES (%s,%s,%s)",\
               (1,1,20.50))
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
try:
    cur.execute("INSERT INTO customer_transaction(customer_id,store_id,spent)\
                VALUES (%s,%s,%s)",\
               (2,1,35.30))
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

**Create Dimension Table**

In [41]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS items_purchased(customer_id int, item_number int, item_name varchar);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
try:
    cur.execute("INSERT INTO items_purchased(customer_id,item_number, item_name) \
                VALUES(%s,%s,%s)",\
               (1,1,"Rubber Soul"))
except psycopg2.Error as e:
    print("Error: Inserting row")
    print(e)
    
try:
    cur.execute("INSERT INTO items_purchased(customer_id,item_number, item_name) \
                VALUES(%s,%s,%s)",\
               (2,3,"Let it be"))
except psycopg2.Error as e:
    print("Error: Inserting row")
    print(e)

In [44]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS store(store_id int, state varchar);")
except psycopg2.Error as e:
    print("Error: Creating Table")
    print(e)
    
try:
    cur.execute("INSERT INTO store(store_id, state)\
                VALUES(%s,%s)",\
                (1,"CA"))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)
    
try:
    cur.execute("INSERT INTO store(store_id, state)\
                VALUES(%s,%s)",\
                (2,"WA"))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)

In [47]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS customer(customer_id int, name varchar,rewards boolean);")
except psycopg2.Error as e:
    print("Error: Creating Table")
    print(e)
    
try:
    cur.execute("INSERT INTO customer(customer_id, name,rewards)\
                VALUES (%s,%s,%s)",\
               (1,"Amanda",True))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)

try:
    cur.execute("INSERT INTO customer(customer_id, name,rewards)\
                VALUES (%s,%s,%s)",\
               (2,"Toby",False))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)

In [53]:
try:
    cur.execute("SELECT name, item_name, rewards FROM customer_transaction \
                JOIN customer ON customer.customer_id = customer_transaction.customer_id\
                JOIN items_purchased ON \
                customer_transaction.customer_id = items_purchased.customer_id \
                WHERE spent > 30; \
                ")
except psycopg2.Error as e:
    print("Error: Select *")
    print(e)

In [54]:
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

('Toby', 'Let it be', False)